@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);body {
  background-color: #B0BEC5;
}

.navbar {
  background-color: #FF3300;
}

.card-title {
  margin-bottom: .75rem;
  /*margin-left: .75rem;*/
  text-align: center;
}

